# Ignore Maven build output directory
target/

# Ignore Maven Wrapper files
.mvn/
mvnw
mvnw.cmd

# Ignore log files and temporary files
*.log
*.tmp
*.swp

# Ignore BlockedQueenMoveDIR.txt as its too large and redundant after 1.0-SNAPSHOT
src/main/resources/Directories/BlockedQueenMoveDIR.txt