# Ignore Maven build output directory
target/

# Ignore Maven Wrapper files
.mvn/
mvnw
mvnw.cmd

# Ignore log files and temporary files
*.log
*.tmp
*.swp

# Ignore Unused directory
src/main/resources/Unused/

# Ignore directories
src/main/resources/Directories/