*.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedBPawnMoveDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedBishopMoveDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedDownCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedDownLeftCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedDownRightCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedLeftCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedQueenMoveDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedRightCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedRookMoveDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedUpCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedUpLeftCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedUpRightCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/BlockedWPawnMoveDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/DownCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/DownLeftCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/DownRightCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/LeftCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/RightCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/UpCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/UpLeftCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/UpRightCheckBeamDIR.txt filter=lfs diff=lfs merge=lfs -text
src/main/resources/Directories/moveDIR.txt filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
